
/dist/_plugins/plugins.json
/dist/audiomack/index.js
/dist/bilibili/index.js
/dist/geciqianxun/index.js
/dist/geciwang/index.js
/dist/kuaishou/index.js
/dist/maoerfm/index.js
/dist/navidrome/index.js
/dist/suno/index.js
/dist/udio/index.js
/dist/webdav/index.js
/dist/yinyuetai/index.js
/dist/youtube/index.js
/example/freesound.js
/formatComment.txt
/LICENSE
/package-lock.json
/package.json
/plugins.json
/plugins/audiomack/index.ts
/plugins/bilibili/index.ts
/plugins/geciqianxun/index.ts
/plugins/geciwang/index.ts
/plugins/kuaishou/index.ts
/plugins/maoerfm/index.ts
/plugins/navidrome/index.ts
/plugins/suno/index.ts
/plugins/udio/index.ts
/plugins/webdav/index.ts
/plugins/wy.js
/plugins/yinyuetai/index.ts
/plugins/youtube/index.ts
/readme.md
/scripts/generate.js
/tsconfig.json
/types/global.d.ts
/types/mediaType.d.ts
/types/plugin.d.ts
